<p>Esta es mi venta de garage, hay muchas como ella pero esta es la mía.</p>

<% if @notice %>
  <span class="notice"><%= @notice %></span>
<% end %>

<table>
  <tr>
    <th>Producto</th>
    <th>Autor/Fabricante</th>
    <th>Vendido?</th>
    <th>Categoría</th>
  </tr>

  <% @items.each do |item| %>
  <tr>
    <td><a href="/items/<%= item.id %>"><%= item.title %></a></td>
    <td><%= item.author %></td>
    <td><%= item.sold? %></td>
    <td><%= item.category %></td>
    <td><%= buy_item_link(item) unless item.sold %></td>
  </tr>
  <% end %>
</table>

<p>Pregunte por lo que no vea. Si está interesado en mi cuerpo también me puede escribir a <a href="federico@mheroin.com">federico@mheroin.com</a>.</p>

<p><br/><a href="/items/new">Agregar Producto</a></p>
